.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  flex-grow: 1;
  padding: 80px 0 40px;
}

.pg-home-highlight {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10rem;
}

.pg-home-highlight li {
  list-style: none;
  position: relative;
}

.pg-home-highlight .pg-home-programs,
.pg-home-highlight .pg-featured-home,
.pg-home-highlight .pg-latest-posts {
  flex: 1 300px;
  list-style: none;
}

.pg-home-highlight .pg-home-programs,
.pg-home-highlight .pg-latest-posts {
  max-width: 250px;
  width: 100%;
  position: relative;
}

/*programs*/
.pg-programs-img img,
.pg-latest-post-img img {
  height: 200px;
  object-fit: fill;
  object-position: center;
  width: 100%;
}

.pg-home-highlight .pg-home-programs li:not(:last-child),
.pg-home-highlight .pg-latest-posts li:not(:last-child) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.pg-home-highlight .pg-home-programs h3,
.pg-home-highlight .pg-latest-posts h3 {
  padding: 20px 10px 0 10px;
  text-align: center;
}

.pg-home-highlight .pg-home-programs .pg-author-name {
  padding: 10px 0;
  display: block;
}

/**** 
 * Last episode published
****/
.pg-home-highlight .pg-featured-home {
  padding: 0 20px;
  text-align: center;
  position: relative;
}

.pg-home-highlight .pg-featured-home h1 {
  font: 600 3rem/1.2;
  padding: 20px 0;
}

.pg-home-highlight .pg-featured-home img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 600px;
}

/*latest episodes*/

.pg-home-highlight .pg-latest-posts li {
  display: block;
  overflow: hidden;
  width: 100%;
}

.pg-home-highlight .pg-latest-posts .pg-latest-post-img {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.pg-home-highlight li a:hover {
  opacity: 1 !important;
}

/*categorias*/
.pg-categories ul {
  display: flex;
  gap: 30px;
}

.pg-categories li {
  list-style: none;
  display: inline-block;
  font-size: 1.2rem;
}

.pg-categories h3 {
  font-size: 1.9rem;
}

/*platforms*/


/*recommeded*/
.pg-recommended ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
}

.pg-recommended li {
  flex: 1 200px;
}

/*articles and others*/
.gh-wrapper {
  -moz-column-gap: 2.4rem;
  column-gap: 2.4rem;
  display: grid;
  grid-template-columns: 4fr 2fr;
}

.gh-wrapper.gh-wrapper-home {
  grid-template-columns: 4fr 2fr 2fr;
}

.gh-wrapper>.gh-section {
  max-width: 720px;
}

.pg-articles {
  max-width: 720px;
}

.pg-articles div,
.pg-others div {
  align-items: flex-start;
}

.pg-articles a,
.pg-others a {
  margin-bottom: 30px;
}

#pg-last-section {
  grid-template-columns: 2fr 2fr 1.8fr;
  column-gap: 3.4rem;
}

.pg-sidebar-banner {
  margin-top: 10px;
}

/*footer*/
.pg-footer {
  background-color: #293036;
  color: #FFF;
  font-size: 1.6rem;
  display: block;
}

.pg-footer-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: flex-start;
  margin: 50px 0;
  padding: 50px 0;
  max-width: 1200px;
}

.pg-footer-logo {
  flex:0 0 300px;
}

.pg-powered-by {
  text-align: right
}